{% extends "layout.html" %}
{% block content %}
	<h1>Feeds</h1>

    {% for item in feeds.items %}
	<article>
	<p><a href="/feed/{{item.id}}"><h2>{{ item.feed_name }}</h2></a><p>
        <p>{{ item.feed_url }}</p>
	<p>{{ 'Latest entry: ' + item.latest_entry_date.strftime('%Y-%m-%d %H:%M') if item.latest_entry_date else '' }}</p>
	</article>
    {% endfor %}

    <div class="pagination">
        {% if feeds.page > 1 %}
            <a href="/feeds?page={{ feeds.page - 1 }}&page_size={{ feeds.page_size }}">Previous</a>
        {% endif %}
        
        <span>Page {{ feeds.page }}</span>

        {% if feeds.page + 1 < feeds.total_pages %}
            <a href="/feeds?page={{ feeds.page + 1 }}&page_size={{ feeds.page_size }}">Next</a>
        {% endif %}
    </div>
{% endblock %}
