/* Base Colors */
/* Light mode colors (default) */
:root {
  --bg-color: #f4f1de;
  --text-color: #3d405b;
  --accent-color: #81b29a;
  --link-color: #e07a5f;
  --link-hover: #f2cc8f;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode colors */
    --bg-color: #3d405b;
    --text-color: #f4f1de;
    --accent-color: #81b29a;
    --link-color: #e07a5f;
    --link-hover: #f2cc8f;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  margin: 0;
  padding: 2rem;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
  border-bottom: 3px solid var(--accent-color);
  padding-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  color: var(--link-color);
}

a {
  color: var(--link-color);
  font-weight: bold;
  transition: color 0.2s ease;
  text-decoration: none;
}

a:hover, a:hover > h1{
  color: var(--link-hover);
}

input {
  border-radius: 4px;
  border: none;
  display: block;
  padding: 5px 4px 5px 14px;
  min-width: 25%;
}

input[type=checkbox] {
  display: inline;
}

a.title {
  font-size: 1.2rem;
  color: var(--text-color);
}

article {
  border-bottom: 1px solid var(--accent-color);
}

article p{
	margin-top:0px;
}

article h2 {
	margin-bottom:0.5rem;
}
