{% extends "layout.html" %}
{% block content %}
    <h1>Add a Feed</h1>

    <form action="/add-feed" method="post">
      <label>Feed Name: <input type="text" name="feed_name"></label><br>
      <label>Feed Url: <input type="text" name="feed_url"></label><br>
      <label>Crawl Interval: <input type="text" name="crawl_interval" value="15"></label><br>
      <label>Age Window: <input type="text" name="age_window" value="60"></label><br>
      <button type="submit">Save</button>
    </form>
{% endblock %}
