{% extends "layout.html" %}
{% block content %}
	<h1>Feeds</h1>

    {% for item in feeds.items %}
        <a href="/feed/{{item.id}}"><h1>{{ item.feed_name }}</h1></a>
        <p>{{ item.feed_url }}</p>
    {% endfor %}

    <div class="pagination">
        {% if feeds.page > 1 %}
            <a href="/feeds?page={{ feeds.page - 1 }}&page_size={{ feeds.page_size }}">Previous</a>
        {% endif %}
        
        <span>Page {{ feeds.page }}</span>

        {% if feeds.page + 1 < feeds.total_pages %}
            <a href="/feeds?page={{ feeds.page + 1 }}&page_size={{ feeds.page_size }}">Next</a>
        {% endif %}
    </div>
{% endblock %}
