{% extends "layout.html" %}
{% block content %}
<h1>Update {{feed.feed_name }} </h1>

<form action="/update-feed/{{feed.id}}" method="post">
	<label>Feed Name: <input type="text" name="feed_name" value="{{feed.feed_name}}"></label><br>
	<label>Feed Url: <input type="text" name="feed_url" value="{{feed.feed_url}}"></label><br>
	<label>Age Window: <input type="text" name="age_window" value="{{feed.age_window}}"></label><br>
	<label>Crawl Page Content: <input type="checkbox" name="crawl_page_content" {{ "checked" if feed.crawl_page_content == True }}></label><br>
      <button type="submit">Save</button>
<a href="/delete-feed/{{feed.id}}">Delete Feed</a>
    </form>
{% endblock %}
